
/*/ / TEKST, VERHAAL / /*/

.verhaal {
    margin-bottom: 4%;
}

.kopstuk {
    margin-bottom: 4%;
}

.kopstuk h3 {
    margin: 4px 0;
    font-weight: 400;
}

.kopstuk p {
    font-size: 14px;
    color: gray;
}

/*/ / FOTOREEKS / /*/

.instagram {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.terugknop {
    width: 100%;
    height: 40px;
    border-top: 2px solid var(--ying);

    background-color: var(--yang);
    color: var(--achtergrondkleur);
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 500;
}

.kolom {
    width: calc(95% / 3);
    padding-bottom: 4%;
    line-height: 0;
}

.kolom>img {
    width: 100%;
    margin-bottom: var(--randmarge);
    object-fit: cover;
}


.tekstbij {
    border: 2px solid white;
}


/*/ / FOTOCAROUSEL / /*/

.visible { /*toggleknop*/
    display: block !important;
}

#pagewrapper, #fotogalerij {
    display: none;
}

#fotogalerij {
    height: calc(100svh - 40px);
    width: 100vw;
}


.voortgang {
    width: 100svw;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

#fotogalerij article {
    height: calc(100svh - 80px);
    width: 100vw;
    display: flex;
    overflow-x:auto;
    scroll-snap-type: x mandatory;
}

.fototekst {
    height: auto;
    min-width: 100vw;
    padding: 0 2.5vw;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-align: start;
}


#fotogalerij img {
    width: 100%;
}
