:root {
    --randmarge: 2.5;
}

.instagram {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.terugknop {
    width: 100%;
    height: 40px;
    border-top: 2px solid var(--ying);

    background-color: var(--yang);
    color: var(--achtergrondkleur);
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 500;
}

.kolom {
    width: calc(95% / 3);
    background-color: brown;
}

.kolom>img {
    width: 100%;
    padding-bottom: 2.5%;
    object-fit: cover;
}