main {
    display: none;
}

.currentpage {
    display: flex;
    flex-direction: column;
}

.current {
    background-color: var(--achtergrondkleur);
    border-top: 0px;
    color: var(--yang);
    font-weight: 500;
}

nav div {
    width: calc(100% / 3);
    height: 40px;
    border-right: 2px solid var(--ying);
    border-top: 2px solid var(--ying);

    background-color: var(--yang);
    color: var(--achtergrondkleur);
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav div:last-of-type {
    border-right: 0px;
}

/*/ / FAQ / /*/
.FAQ {
    background-color: var(--ying);
    padding: 2%;
}

.FAQ>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--achtergrondkleur);
    margin-bottom: 2%;
}

.FAQ ins {
    text-decoration: none;
    font-weight: 100;
    font-size: 14px;
}

.FAQ>article:not(:last-of-type) {
    margin-bottom: 2%;
}


.vraag {
    color: var(--yang);
    font-weight: 500;
}

.antwoord {
    color: var(--achtergrondkleur);
    font-weight: 300;
}

/*/ / VERHALEN / /*/

.verhalen>h2 {
    margin: 4% 0;
}

.verhalen>article {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4%;
}

.verhalen>article>img {
    width: 5%;
    object-fit: contain;
}

.verhalen>article>a {
    width: 75%;
    color: var(--zwart);
    margin-left: 2%;
}

.verhalen>article>p {
    width: 20%;
    object-fit: contain;
}

.verhalen a {
    color: var(--zwart)
}
