*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

:root {
    --achtergrondkleur: #F4F4CF;
    --zwart: #353535;
    --ying: #FF5555;
    --yang: #66C380;
}

body {
    height: 100svh;
    width: 100vw;

    background-color: var(--achtergrondkleur);

    overflow-y: hidden;

    font-family: "Roboto", sans-serif;
    color: var(--zwart);
}

#pagewrapper {
    height: calc(100svh - 40px);
    overflow-y: auto;
}

header {
    height: 100px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header>p {
    color: var(--yang);
    font-weight: bolder;
}

h1>span:nth-child(1) { color: #00973F; }
h1>span:nth-child(2) { color: #F6EA03; }
h1>span:nth-child(3) { color: #EA8000; }
h1>span:nth-child(4) { color: #007AC4; }
h1>span:nth-child(5) { color: #C8047F; }
h1>span:nth-child(6) { color: #E40515; }
h1>span:nth-child(7) { color: #FBB902; }
h1>span:nth-child(8) { color: #97BC21; }
h1>span:nth-child(9) { color: #01509E; }

main {
    display: none;
    width: 95%;
    margin: 0 auto;
}

.currentpage {
    display: flex;
    flex-direction: column;
}

nav {
    width: 100%;
    height: 40px;
    display: flex;
}

.current {
    background-color: var(--achtergrondkleur);
    border-top: 0px;
}

nav div {
    width: calc(100% / 3);
    height: 40px;
    border-right: 2px solid var(--ying);
    border-top: 2px solid var(--ying);

    background-color: var(--yang);

    display: flex;
    justify-content: center;
    align-items: center;
}

nav div:last-of-type {
    border-right: 0px;
}


/*FAQ EN VERHALEN*/
.FAQ {
    background-color: var(--ying);
    padding: 2%;
}

.FAQ>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--achtergrondkleur);
    margin-bottom: 2%;
}

.FAQ ins {
    text-decoration: none;
}

.FAQ>article:not(:last-of-type) {
    margin-bottom: 2%;
}


.vraag {
    color: var(--yang);
}

.antwoord {
    color: var(--achtergrondkleur);
}

/*VERHALEN*/

.verhalen>h2 {
    margin: 4% 0;
}

.verhalen>article {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4%;
}

.verhalen>article>img {
    width: 5%;
    object-fit: contain;
}

.verhalen>article>a {
    width: 75%;
    color: var(--zwart);
    margin-left: 2%;
}

.verhalen>article>p {
    width: 20%;
    object-fit: contain;
}

.verhalen a {
    color: var(--zwart)
}




@media screen and (min-width: 1200px) {
    
    main {
        width: calc(100% / 3);
    }
}